html {
    background: white;
}
ul {
    color: white;
    list-style: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.roles > div {
    background: blue;
    padding: 2[x;]
}
.roles > div:nth-child(odd) {
    background: green;
    padding: 2px;
}