html {
    background: white;
}
ul {
    list-style: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.roles {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.roles > div {
    background:lightblue;
}
.roles > div:nth-child(odd) {
    background:lightcyan;
}