html {
    background-color: lightgrey;
}
ul {
    color: white;
    list-style: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.container {
    font-family: tahoma;
    font-size: 14px;  
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFD;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #2d2d2d 20%, #000000 49%, #111111 77%, #1c1c1c 88%, #2b2b2b 100%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#2d2d2d 20%,#000000 49%,#111111 77%,#1c1c1c 88%,#2b2b2b 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#2d2d2d 20%,#000000 49%,#111111 77%,#1c1c1c 88%,#2b2b2b 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.links {
    border-color: grey;
    background-color: white;
    color: brown;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.other-links{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-her {
    border-color: grey;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    margin: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.more-about-her {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.beige-box {
    border-color: rgb(212, 212, 127);
    background-color: white;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    padding: 3px 1px 3px 1px;
}
.second-beige-box{
    background-color: rgb(212, 212, 127);
    color: white;
    padding: 10px;
}
.movies {
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: #000;
}
.film {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px;
    background-color: white;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    color: rgb(51, 48, 20);
}
.Ending {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
}
.ending button {
    margin-left: 10px;
    border-color: #D5AB55 #c93 #c93 #D5AB55;
    background-color: #f3ce00;
}
.selected{
   background-color: rgba(243, 206, 0, .24)!important;
}
.page {
    display: flex;
}
.right-side {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}
.smaller-image {
    width: 300px;
}
.bottom-right-side {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    grid-column-start: 5;
    grid-column-end: 6; 
    grid-row-start: 5;
    grid-row-end: 6;
}
